.trms-body{
    /*overflow-y: scroll;*/
}

.profile-pic{
    width: 80%;
    margin-left: 23px;
    margin-top: 23px;
}

.logout-button{
    padding: auto;
    margin: 1em;
}

.mdl-radio{
    padding-right: 10px;
}